.dockerignore
.git
./backend-nest/Dockerfile
./frontend-next/Dockerfile
./backend-nest/node_modules
./frontend-next/node_modules
./backend-nest/npm-debug.log
./frontend-next/npm-debug.log
./backend-nest/README.md
./frontend-next/README.md
./frontend-next/.next
docker